name: Postman API Tests

on:
  push:
  workflow_dispatch:

jobs:
  run-postman-tests:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '16'

    - name: Install Newman
      run: |
        npm install -g newman

    - name: Create results directory
      run: mkdir -p output

    - name: Run Postman collection
      run: |
        npm install newman-reporter-html
        newman run postman/collection.json --reporters html --reporter-html-export output/report.html
        # --environment <path-to-your-environment.json> (If we have env also )
    - name: Upload Newman report
      uses: actions/upload-artifact@v3
      with:
        name: newman-report
        path: output/report.html
